<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - really simple AB testing</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width" />
        <script type="text/javascript">

            function getCookie(c_name) {
                var i, x, y, ARRcookies = document.cookie.split(";");
                for (i = 0; i < ARRcookies.length; i++) {
                    x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
                    y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
                    x = x.replace(/^\s+|\s+$/g, "");
                    if (x == c_name) {
                        return unescape(y);
                    }
                }
            }
            
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-7625186-14']);
            
            //if test cookie exists set custom google user variable with value from test
            var test_name = 'reallysimpleabtesting'; //we need to pull this from some configuration source

            var cookie = getCookie(test_name);
            
            if (cookie) {
                _gaq.push(['_setCustomVar',
                            1,                        // This custom var is set to slot #1.  Required parameter.
                            test_name,                // The name acts as a kind of category for the user activity.  Required parameter.
                            cookie,                   // This value of the custom variable.  Required parameter.
                            2                         // Sets the scope to session-level.  Optional parameter.
                        ]);
            }

            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                 @RenderBody()
            </div>
        </div>
    </body>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookies.2.2.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/application.js")"></script>
</html>
